*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
ul {
  list-style-type: none;
}

header,
footer {
  padding: 0 50px;
}
/* обнуляем нижнее подчеркивание у ссылок */
.footer__menu-link,
.address__link,
.header__link {
  text-decoration: none;
}
/* ставим нижнюю границу ссылкам */
.header__link,
.address__link,
.footer__menu-link {
  border-bottom: 1px solid black;
}
/* убираем по макету где нет оформления ссылок*/
.header__link_active,
.footer__menu-link_active,
.address__link_active {
  border-bottom: none;
}

.title-h2 {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
.no-letter-spacing {
  letter-spacing: 0;
}
